.bhead{
    background-image: url(/vans.jpg);
    height: 100vh;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.bhead div{
    text-align: center;
    width: 50%;
    border-radius: 25px;
    box-shadow: 0 0 20px gray;
    height: 350px;
    background-color: whitesmoke;
    margin-top: 100px;
    padding-block: 20px;
    padding-inline: 40px;
    font-size: 60px;

}

.bhead p{
    line-height: 1.5;
}

.bhead h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: 20px;
}

